/*Geral*/
*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button-contact button:hover{
    box-shadow: 3px 3px 10px #87CEEB;
    transition: .4s;
    transform: scale3d(1.2);
}

body{
    background: black;
    height: 100vh;
}

.interface{
    max-width:1080px ;
    margin:0 auto;
}

.interface-header{
    display: flex;
    max-width:1080px ;
    margin:0 auto;
    align-items: center;
    justify-content: flex-start;
    gap:5%
}

.flexbox{
    display: flex;
    justify-items: center;
    align-items: center;
    /* border: 3px red solid; */
}

h2.title{
    font-size:40px ;
    color: #E0F7FA;
    text-align: center;
}

h2.title span{
    color: #4169E1;
    text-shadow: 0px 0px 3px #00aff5c7;
}


/* Header style */
header{
    padding:15px 3%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}



header a{
    color:#E0F7FA;
    font-size: 18px;
    text-decoration: none;
}

header a:hover{
    display: inline-block;
    color:#6d797a;
    transform: scale(0.9);
    transition: .4s;
    font-size: 18px;
    text-decoration: none;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding:35px;  
}

header .button-contact button{
    color: #E0F7FA;
    padding:0px 20px;
    font-size: 18px;
    background-color: #00000069;
    font-weight: 300;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    border:1px solid #87CEEB
}



.logo img{
    width: 150px;
    height: auto;
}

/*Main style*/

section.top-site{
    padding: 35px 5%;
}


section.top-site .flexbox{
    color: #E0F7FA;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.top-site h1{
    justify-self: center;
    font-size: 42px;
    color:#4169E1 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 60px;
    padding: 10px;
}



.top-site .txt-top-site h1 span{
    color: #00b1f7;
    text-shadow: 0px 0px 3px #00aff5c7;
} 
    
.top-site .txt-top-site p{
    padding: 35px 5%;
    align-items: center;
}

.profile img{
    width:250px;
    height: auto;
    border-radius: 50%;
}

main .button-contact button{
    color: #E0F7FA;
    margin-left: 35px;
    padding:0px 20px;
    font-size: 18px;
    background-color: #00000069;
    font-weight: 300;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    border:1px solid #87CEEB
}
    
/* .top-site .profile img{
    position:relative;
    animation:floater 2s ease-in-out infinite alternate;
}
*/

/*Habilitys style*/

section.tech-habilitys{
    padding:35px 5%
}

section.tech-habilitys .flexbox{
    gap: 45px;
    
}

.tech-habilitys .hability-box{
    margin-top: 25px;
    color:#E0F7FA;
    padding: 40px; 
    justify-items: center;    
    width: 100%;
    min-height: 250px;
    height: 350px;
    border-radius: 12%;
    /* border:2px solid green */
    
}

.tech-habilitys .hability-box:hover{
    transform: scale(1.03);
    box-shadow: 0 0 8px #87CEEB;
    transition: .4s;

    
}

.tech-habilitys .hability-box i{
    font-size: 40px;
    color:#4169E1 ;
}

.tech-habilitys .hability-box h3{
    font-size:26px;
    padding:15px;
}

.tech-habilitys .hability-box p{
    align-self: flex-start;
    font-size:16px;
    padding: 5%;
}

/*About me style*/

section.about-me{
    padding:50px 5%
}

.about-me-image img{
    width: 350px;
    height: auto;
    border-radius: 50px;

}

section.about-me .flexbox{
    align-items: center;
    gap:45px;
    /* border: 2px solid purple  */
}

.about-me .about-me-text h2{
    font-size: 45px;
}

.about-me .about-me-text span{
    color:#4169E1;
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    /* border: 2px solid greenyellow; */
}
.about-me .about-me-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: #E0F7FA;
}

.about-me .about-me-text p{
    font-size: 18px;
    padding: 15px;
    text-align: justify;
}

.about-me-text .social-button{
    display:flex;
    padding:15px;
    justify-content: flex-end;
    gap:8px
}

.about-me-text .social-button{
    display: flex;
    align-content: flex-end;
}

.about-me-text .social-button button{
    border-radius: 50%;
    width: 50px;;
    height: 50px;
    border:1px solid black;
    font-size:28px;
    background-color: #87CEEB;  
    cursor: pointer;  
    
}

.about-me-text .social-button button:hover{
    box-shadow: 0px 0px 8px #71d3fa;
    transform: scale(1.2);
    transition: 0.4s;
}

.about-me-text .social-button button{
    position: relative;
    animation: floater 2s ease-in-out infinite alternate;
}

@keyframes floater{
    0%{
        top: 0;
    }
    100%{
        top: 5px
    }
} 

/*Projects style*/

section.projects{
    padding:50px 5%;
    box-shadow: 0 0 35px#71d3fa85;
}

section.projects .interface h2 span{
    text-shadow: 0px 0px 3px #00b0f5;
}

section.projects .flexbox{
    justify-content:space-around;
    align-items: center;
    border: 2px solid rgb(255, 0, 157)
}


.project-image{
    border-radius: 50px;
    border: 3px solid #00b0f5;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor:pointer;
}

.project-image:hover{
    background-position: 100% 100%;
}



.overlay {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: 100%;
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.521);
    opacity:0
}


.overlay:hover{
    display: flex;
    color: #87CEEB;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.801);
    opacity:1
}